.notification-log-item__type-icon {
  //background: yellow;
  display: flex;
  align-items: center;

  > svg {
    width: 16px;
    height: 16px;
  }

  //& > svg:hover > path {
  //  fill: black !important;
  //}
}

.notification-log-item {
  //background: yellow;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  font-size: 16px;
  //
  &:last-child {
    padding-bottom: 1rem;
  }
  //
  > svg {
    width: 20px;
    height: 20px;
  }

  > div {
    display: flex;
    //align-items: center;
    //
    &:last-child {
      padding-right: 1rem;
    }
    padding-left: 1.8rem;
  }

  > div, span {
    > a {
      border-bottom: 1px dotted #71b4e1;
    }
  }

  //& > svg:hover > path {
  //  fill: black !important;
  //}
}

.notification-log-item_stack {
  > div, span {
    padding: 0.2rem 0;
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.popup {
  //
  .golos-card__item {
    padding: 0.4rem;
  }
  //
  .notification-log-item {
    background-color: #FFFFFF;
    font-size: 12px;
    //border: 1px solid rgba(0, 0, 0, 0.01);
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.01);
    //box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5), 0 1px 4px 0 rgba(0,0,0,0.15);
    //
    padding-top: 0.4rem;
    margin-top: 0.2rem;
    //
    &:first-child {
      padding-bottom: 0.4rem;
      margin-top: 0;
    }
    //
    &:last-child {
      padding-bottom: 0.4rem;
      //margin-bottom: 0.2rem;
    }
    //
    > div {
      //
      &:last-child {
        padding-right: 0.7rem;
      }
      //padding-left: 0.8rem;
    }
    //
    .button {
      width: 100%;
      color: white;
      margin: 0;
    }

  }

  .notification-log-item.footer {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    border: none;
    box-shadow: none;
  }


}

